# Node.js dependencies
node_modules/

# Environment files
.env

# Logs
*.log

# Build output
/dist
/build

# Dependency directories
/.venv

# Docker-related files
docker-compose.override.yml

# OS-specific files
.DS_Store
Thumbs.db

# IDE/Editor folders
.vscode/
.idea/

# Test Coverage output
coverage/

# Miscellaneous
*.env.local
